absl-py==2.1.0
adjustText==1.2.0
altair
anaconda-client
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
beautifulsoup4
bioinfokit==2.1.4
black
click
cloudpathlib==0.19.0
dask
distributed
flask
pandas==2.2.2
matplotlib
seaborn
scikit-learn
streamlit
tensorflow==2.17.0
keras==3.5.0
plotly