streamlit==1.24.0         # Main package for building web applications
pandas==2.2.2             # Data manipulation and analysis
scikit-learn==1.3.0       # Machine learning library
tensorflow==2.17.0        # Machine learning library for neural networks
keras==3.5.0              # High-level neural networks API
matplotlib==3.7.2         # Plotting library
seaborn==0.12.2           # Statistical data visualization
plotly==5.13.1            # Interactive plotting library
beautifulsoup4==4.12.2    # For web scraping if needed
bioinfokit==2.1.4         # Bioinformatics toolkit, include if used
altair==4.2.0             # Declarative statistical visualization library
appdirs==1.4.4            # For handling application directories
pillow>=10.0.1
